* { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



body {
    background-color: black;
    color:white;
}

.botao {
    width:auto;
    height: auto;
    background-color: black;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 20px;
    padding-right: 20px;

}

.botao:hover{
    background-color: #00bbff;
    transition: background 500ms;
    color: black;
}

a {
    text-decoration: none;
    color:#b6b6b6;
    font-size: medium;
}

.menu {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    border-bottom: #00bbff 5px solid;
    margin-bottom: 2%;
}                


.menu_logo {
    width: 50px;
    height: 50px;
    float: left;
}

h1 {
    color: #00bbff;
    font-family: Arial, Helvetica, sans-serif;
} 


.produto {
	width:auto;
    height: 40vh;
	background-color: black;
	border: #292929 2px solid;
    border-radius: 15px;
    background: transparent;
    text-align: center;
    min-width: 200px;
    min-height: 300px;
    max-width: 16%!important;
    max-height: 30% !important;
    float: left;
    padding: 1%;
    margin: 0.3%;

}

.produto:hover {
	background-color: #292929;
	transition: background 500ms;
}

.imagem_produto {
    width:12vw;
    height: 18vh;
    min-width: 144px;
    min-height: 144px;
    background: transparent;
    border-radius: 15px;
    display: flex;
    margin: auto;
    padding:1%;
}


.preco {
    color: #4dccfa;
    font-size: x-large;
}

.content {
    width: 100%;
}

.nomeproduto {
    color:#b6b6b6;
    font-size: inherit;
    font-weight: normal;
}