<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'loja/css/style.css' %}">


<html lang="pt-BR">
<meta charset="utf-8">
<title>Meu site</title>
<meta name="viewport" content="initial-scale=1">
<body>
<div class="menu">
<div class="menu_logo"></div>
<a class="botao" href="categorias"> BUSCA POR CATEGORIAS </a>
<a class="botao" href="promocoes"> PROMOÇÕES </a>
<a class="botao" href="perfil"> MINHA CONTA </a>
</div>
<div class="content">
{% block content %}
{% endblock %}
</div>
</body>
</html>

