<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'loja/css/style.css' %}">


<html lang="pt-BR">
<meta charset="utf-8">
<title>Meu site</title>
<meta name="viewport" content="initial-scale=1">
<body>
<div class="menu">
<a class="botao" href="\loja"> HOME </a>
<a class="botao" href="\loja\categorias"> BUSCA POR CATEGORIAS </a>
<a class="botao" href="\loja\promocoes"> PROMOÇÕES </a>
{% if user.is_authenticated %}
<a class="botao" href="\loja\perfil"> 
    OLÁ, {{ user.username }}!
    <a class="botao" href="\loja\cart\{{ user.username }}"> MEU CARRINHO </a>
</a>
  {% else %}
    <a class="botao" href="{% url 'login' %}">LOGIN
    </a>
  {% endif %} 
  
</div>
<div class="content">
{% block content %}
{% endblock %}
</div>
</body>
</html>

