{% extends "loja/base_generic.html" %}
{% load static %}
{% block content %}
<script src="{% static '/loja/js/cart_values_update.js' %}">teste()</script>
<h1>Meu carrinho</h1>

{% if cart %}
<form method="POST" action="/loja/update_cart">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" id="username" name="username" value="{{ user.username }}">
    
    
    {% for produto in cart %}
    <div class="produto_cart"> 
        <input type="hidden" id="product_id" name="product_id" value="{{ produto.id }}">
            <img class="imagem_produto" src="/loja/{{ produto.prod_img }}"></img>
        </a>
            <input type="hidden" id="{{produto.produtos_id}}" value="{{produto.preço}}" name="preco">
                    <table >
                        <tr>
                            <td>
                                <a class="nomeproduto" href="/loja/{{ produto.id }}/" > {{ produto.produtos_nome}} </a>
                                <input type="hidden" name="produto_nome" id="produto_nome" value="{{produto.produtos_id}}">
                            </td>
                        </tr>

                        <tr>
                            <td>Quantidade:</td>
                            <td style="text-align:center"><button type="button" class="qtbutton" onClick="sub_from_qt('{{produto.produtos_id}}')"> - </button></td>
                            <td> <input type="text" class="preco_box" name="number" id="number{{produto.produtos_id}}" value="{{produto.qtd}}"></td>
                            <td style="text-align:center"><button type="button" class="qtbutton" onClick="add_to_qt('{{produto.produtos_id}}')"> + </button></td>
                        </tr>
                        </table>
                        <table>
                        <tr>
                            <td>Total:</td>
                            <td><input type="text" class="total_box" name="total" id="total{{produto.produtos_id}}" value="{% widthratio produto.qtd 1 produto.preço %}"></td>
                        </tr>
                    </table>            
        </div>
    {% endfor %}
    <script>
        var i;
        var divs = document.getElementsByTagName('a');
        for(i=0;i<divs.length;i++) {
          if(divs[i].className == 'nomeproduto') {
            divs[i].innerHTML = divs[i].innerHTML.substring(0,50) + "...";
          }
        }
    </script>
</table>
<button type="submit">Prosseguir para checkout</button>
{% else %}
    <p>Não há produtos.</p>
{% endif %}
{% endblock %}