{% extends "loja/base_generic.html" %}
{% load static %}
{% block content %}


<script>
        function add(id){
        var v1 = parseInt(document.getElementById('number'+id).value)
        document.getElementById('number'+id).value = v1 + 1;
        updateValue(id)
    }

    function sub(id){
        var v1 = parseInt(document.getElementById('number'+id).value)
        if (v1 == 1) {
            window.alert("ayyyyy");
            v1 = 1;
            updateValue(id)
        } else {
            v1 = v1 - 1;
            document.getElementById('number'+id).value = v1
            updateValue(id)
        }
    }
</script>






<h1>Meu carrinho</h1>
<table>
{% if cart %}
    {% for produto in cart %}
    <div class="produto"> 
        <a href="/loja/{{ produto.produtos_id }}/">
            <img class="imagem_produto" src="/loja/{{ produto.prod_img }}"></img>
        </a>

                    {{produto.produtos_id}}<br>
                    <input type="hidden" id="{{produto.produtos_id}}" value="{{produto.preço}}" name="preco">

                    </script>
                    Quantidade: <input type="number" class="preco_box" name="number{{produto.produtos_id}}" id="number{{produto.produtos_id}}" value="{{produto.qtd}}">
                    Total: <input type="number" class="total_box" name="total{{produto.produtos_id}}" id="total{{produto.produtos_id}}" value="{{produto.preço}}">
                    <button onClick="sub('{{produto.produtos_id}}')">-</button>
                    <button onClick="add('{{produto.produtos_id}}')">+</button>
      

        </div>
    {% endfor %}
</table>
{% else %}
    <p>Não há produtos.</p>
{% endif %}

<script>
    function updateValue(id){
        x = parseInt(document.getElementById(id).value)
        value = parseInt(document.getElementById('number'+id).value)
        var total = value * x
        document.getElementById('total'+id).value = total
    }



</script>


{% endblock %}


{{produto.qtd}}
{{produto.produtos_id}}