{% extends "loja/base_generic.html" %}
{% load static %}
{% block content %}
<h1>Meu carrinho</h1>
<table>
{% if cart %}
    {% for produto in cart %}
    <div class="produto"> 
        <a href="/loja/{{ produto.produtos_id }}/">
            <img class="imagem_produto" src="/loja/{{ produto.prod_img }}"></img>
        </a>
        {{produto.qtd}} <br>
        {{produto.produtos_id}} <br>
        {{produto.preço}} <br>
        </div>
    {% endfor %}
</table>
{% else %}
    <p>Não há produtos.</p>
{% endif %}
{% endblock %}