{% extends "loja/base_generic.html" %}
{% load static %}
{% block content %}
<script src="{% static '/loja/js/cart_values_update.js' %}">teste()</script>
<h1>Meu carrinho</h1>

{% if cart %}
    {% for produto in cart %}
    <div class="produto_cart"> 
        <a href="/loja/{{ produto.produtos_id }}/">
            <img class="imagem_produto" src="/loja/{{ produto.prod_img }}"></img>
        </a>
            <input type="hidden" id="{{produto.produtos_id}}" value="{{produto.preço}}" name="preco">
                    <table >
                        <tr>
                            <td>
                                {{produto.produtos_id}}
                            </td>
                        </tr>

                        <tr>
                            <td>Quantidade:</td>
                            <td style="text-align:center"><button class="qtbutton" onClick="sub('{{produto.produtos_id}}')"> - </button></td>
                            <td> <input type="text" class="preco_box" name="number{{produto.produtos_id}}" id="number{{produto.produtos_id}}" value="{{produto.qtd}}"></td>
                            <td style="text-align:center"><button class="qtbutton" onClick="add('{{produto.produtos_id}}')"> + </button></td>
                        </tr>
                        </table>
                        <table>
                        <tr>
                            <td>Total:</td>
                            <td><input type="text" class="total_box" name="total{{produto.produtos_id}}" id="total{{produto.produtos_id}}" value="R$ {% widthratio produto.qtd 1 produto.preço %}"></td>
                        </tr>
                    </table>            
        </div>
    {% endfor %}

</table>
{% else %}
    <p>Não há produtos.</p>
{% endif %}
{% endblock %}