{% extends "loja/base_generic.html" %}
{% load static %}
{% block content %}
<h1>{{ produto.nome }}</h1>
<div class="content">
<div class="detail_foto">
    <img src="{{ produto.prod_img.url }}" style="width:100%; height:100%;">
</div>

<div class="info_box">
    <table>
        <tr>
            <td>Marca: </td>
            <td>{{produto.marca}}</td>
        </tr>
        <tr>
            <td>Preço: </td>
            <td>{{produto.preço}}</td>
        </tr>
        <tr>
            <td>Em estoque: </td>
            <td>{{produto.qtd}} unidades</td>
        </tr>
        
    </table>
    <br>
    <a href="#">Comprar agora</a> <br>
    <a href="\loja\cart_add\{{ user.username }}\{{ produto.id }}">Adicionar ao carrinho</a> <br>
    <a href="#">Ver similares</a>
</div>

<h2>Descrição: </h2>

<p>{{ produto.descricao }}</p>


</div>


{% endblock %}


