
{% extends "loja/base_generic.html" %}
{% load static %}

{% block content %}
{% if latest_produto_list %}
    {% for produto in latest_produto_list %}

    <div class="produto"> 
        <a href="/loja/{{ produto.id }}/">
            <img class="imagem_produto" src="{{produto.prod_img.url}}"></img>
        </a>       
        <p>
            <a class="nomeproduto" href="/loja/{{ produto.id }}/" > {{ produto.nome}} 
        </p>       
        <a class="preco" href="/loja/{{ produto.id }}/">R$ {{ produto.preço}}</a>
    </div>


    {% endfor %}

    <script>
        var i;
        var divs = document.getElementsByTagName('a');
        for(i=0;i<divs.length;i++) {
          if(divs[i].className == 'nomeproduto') {
            divs[i].innerHTML = divs[i].innerHTML.substring(0,98);
          }
        }
    </script>



{% else %}
    <p>Não há produtos.</p>
{% endif %}
{% endblock %}
"{% static 'loja/css/style.css' %}












